html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  color: #666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 38px;
  font-size: 18px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9);
}
.body {
  background-image: url("/img/~_back_000.png");
}
h1 {
  font-size: 28px;
  margin: 20px 0 20px;
  padding: 0;
}
h1.menu {
  font-size: 18px;
  font-weight: normal;
  margin: 15px 0 30px;
}
h2 {
  font-size: 22px;
  margin: 30px 0;
  padding: 0;
}
hr {
  background: #ddd;
  border: 0px dotted #ddd;
  height: 1px;
}
span.icon {
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 2px;
  -moz-border-radius: 2px;
  color: #aaa;
  font-size: small;
  padding: 0 4px;
}
span.icon a {
  border: none;
  color: #aaa;
  text-decoration: none;
}
span.icon a:hover {
  border: none;
  color: #aaa;
  text-decoration: none;
}
span.icon.html {
  background: #fcfcfc;
}
xul li.icon.pdf {
  background: url(/img/icon/Adobe-PDF-Logo.jpg) no-repeat left top;
  list-style-type: none;
  padding-left: 20px;
}
xul li.icon.pdf {
  list-style-image: url(/img/glyphicons/png/glyphicons_001_leaf.png);
  list-style-image: url(/img/glyphicons/png/glyphicons_062_paperclip.png);
  list-style-image: url(http://s7.scribdassets.com/images/filetypes/pdf_16x16.gif);
  xlist-style-image: url(/img/glyphicons/png/glyphicons_072_bookmark.png);
  xlist-style-type: none;
  xpadding-left: 20px;
}
ul.iconostas {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 10em;
}
ul.iconostas li {
  background-image: url(arrow.gif);
  background-position: 100% 0.4em;
  background-repeat: no-repeat;
  margin: 1em 0;
  padding-right: 0.6em;
}
img {
  width: 100%;
}
#content {
  padding: 30px;
}
#content .main {
  font-size: 14px;
  margin: 50px 0;
  overflow: hidden;
}
#content .main p {
  margin: 0;
  padding: 10px 0;
}
div.reader {
  background: #f8f8f8;
  border: 1px solid #ddd;
  margin: 0 -10px;
  padding: 0px 20px 20px;
}
div.reader__ {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
div.reader .header {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  margin: 0 -20px;
  padding: 0 20px;
}
div.reader .content {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 16px;
  margin: 0 -20px;
  padding: 20px 20px;
}
div.reader .footer {
  border-top: 1px solid #ddd;
  font-family: inherit;
  font-size: 14px;
  margin: 0 -20px;
  padding: 20px 20px;
}
div.reader p {
  text-align: justify;
  white-space: normal;
}
div.reader hr {
  margin: 0px -20px;
}
div.reader a.nn, div.reader a.fn {
  border: none;
  color: #f00;
  font-size: 65%;
  vertical-align: text-top;
}
div.reader a.fn {
  font-size: 100%;
}
#copyright {
  font-size: 11px;
  margin: 55px 0 5px 0;
}
#content #copyright {
  font-size: 11px;
  margin: 55px 0 0px 0;
  text-align: left;
}
#content #copyright a {
  color: inherit;
}
#search .cse .gsc-control-cse, .gsc-control-cse {}
#search {
  background: #fff;
  border: 1px solid #ddd;
  margin-top: -35px;
  min-height: 100px;
  outline: 0;
  padding: 20px;
}
#searchbox {
  outline: 0;
  position: relative;
  z-index: 999;
}
#searchbox.menu {
  display: none;
  margin: -45px 0 0;
  margin: 12px 0 0;
  margin: -15px 0 0;
  padding: 0 10px;
  padding: 0 0px;
}
#navigate {
  border: 0px solid #ddd;
  height: 80px;
  height: 100px;
  margin: -22px 0 10px;
  padding: 10px;
  text-align: right;
}
#search .gsc-control-cse .gsc-tabHeader {
  outline: 0;
}
#search a, #searchbox a {
  border: none !important;
}
#search a:hover {
  text-decoration: underline !important;
}
#search a.gs-title {}
#search a.gs-label {
  text-decoration: none;
}
#search input.gsc-input, #searchbox input.gsc-input {
  background-color: transparent !important;
}
#search img.gs-image {
  border: none !important;
}
#search .cse .gsc-webResult.gsc-result.gsc-promotion, .gsc-webResult.gsc-result.gsc-promotion {
  background-color: transparent !important;
  background-color: #f8f8f8 !important;
  border: 1px solid #ddd !important;
}
#search .gs-promotion-image-cell {
  width: 80px;
}
#search .gs-promotion-image-box {}
#menu {
  padding: 30px;
  width: 255px;
}
#logo {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 255px;
  z-index: 5;
}
#logo a, #logo a img {
  border: none;
  margin: 0;
  padding: 0;
}
#logo a {
  border-bottom: none !important;
}
#socializer {
  background: transparent;
  border-left: 1px solid #fff;
  border-right: 0px solid #fff;
  display: none;
  filter: alpha(opacity=0.9);
  float: left;
  height: 73px;
  height: 103px;
  margin: -32px -5px 0;
  opacity: 0.9;
  padding: 32px 5px 5px;
  padding: 8px 5px 5px;
  width: 105px;
  width: 105px;
}
#socializer .icon {
  background: transparent;
  height: 20px;
  margin: 0 0 5px 0;
  position: relative;
  text-align: left;
  width: 100px;
}
#socializer .icon span.IN-widget span {
  float: left;
}
ol, ul {
  white-space: normal;
}
dl {
  margin: 30px 0;
  padding: 0;
  white-space: pre-wrap;
  white-space: normal;
}
dt {
  color: #666;
  font-size: 18px;
  font-weight: bold;
}
dd {
  margin: -22px 0px 20px 120px;
}
dl.year dd {
  margin: -33px 0px 20px 60px;
}
#menu ul {
  list-style: none;
  margin-left: 0px;
  padding: 0;
  text-align: right;
  text-decoration: none;
}
#menu li {
  font-size: 14px;
  margin: 1em 0;
}
#content .main li {
  margin: 0.75em 0;
}
#content .main li a {
  line-height: 1.4em;
}
#content .main dl.year dd ul li {
  margin: 0.15em 0;
}
#content .main ul.sub {
  list-style: none;
  margin: 15px 30px;
  padding: 0;
  white-space: normal;
}
#content .main ul.sub li {
  margin: 0;
}
a {
  word-break: break-word;
}
.main a {
  border-bottom: 1px dotted #aac;
  color: #00a;
  outline: 0;
  text-decoration: none;
}
.main a:hover {
  border-bottom: 1px solid #f90;
}
a.img, a.img:hover {
  border: none !important;
  text-decoration: none !important;
}
a.active {
  color: #ccc;
}
a.gray {
  border-bottom: 1px dotted #f90;
  color: inherit;
}
a.gray:hover {
  border: none;
  color: #0de;
}
#fancybox-wrap a {
  border: none;
  border-bottom: 1px dotted #aac;
  color: #0de;
  text-decoration: none;
  text-shadow: none;
}
#fancybox-wrap a:hover {
  border-bottom: 1px solid #f90;
}
#menu a {
  border-bottom: 1px dotted #aac;
  color: #640;
  text-decoration: none;
  xdisplay: block;
}
#menu a.active {
  border-bottom: 1px solid #eee;
  color: #800;
  color: #aaa;
  color: #eb3755;
  xborder-right: 10px solid #f90;
  xmargin-right: -20px;
  xpadding-right: 10px;
}
#menu a:hover {
  border-bottom: 1px solid #f90;
}
#navigate a {
  border-bottom: none;
  color: #44a;
  color: #640;
  text-decoration: none;
}
#navigate a:hover {
  border-bottom: none;
  color: #aaf;
  color: #eb3755;
  color: #f90;
}
#navigate a.active {
  color: #f90;
  color: #eb3755;
}
#navigate a.lang {
  color: #800;
  text-decoration: none;
}
#navigate a.lang.active {
  color: #ccc;
  text-decoration: none;
}
.notice {
  border-radius: 4px;
  margin: 1rem 0;
  padding: 1rem;
}
.translation-notice {
  background: #fff8e1;
  border-left: 4px solid #ffc107;
  margin: 1rem 0;
  padding: 1rem;
}
.layout-wrapper {
  background: #eee;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  width: 100%;
}
.left-panel {
  background: #eee;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 315px;
}
.right-panel {
  background: #f5f5f5;
  border-left: 1px solid #fff;
  border-right: 1px solid #aaa;
  box-sizing: border-box;
  flex-grow: 1;
  overflow: hidden;
}
a.dono {
  border-bottom: 0px solid #aaa;
}
a.dono:hover {
  border: 0px solid #aaa;
  border-bottom: 0px solid #aaa;
}
a.dono img {
  margin-bottom: 15px;
  margin-right: 15px;
  object-fit: cover;
  width: 100%;
}
a.dono img.square {
  __height: 200px;
  __width: 300px;
  object-fit: cover;
  width: 85%;
}
a.dono img.photo {
  __height: 350px;
  margin-bottom: 15px;
  margin-right: 15px;
  object-fit: cover;
  width: 420px;
}
.donos p {
  font-size: 110%;
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.donos .container {
  __flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  width: 100%;
}
__.box {
  __flex: auto;
  _height: 200px;
  border: 1px solid #555;
  font-size: 14px;
  line-height: 16px;
  margin: 10px;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  width: 250px;
  width: 200px;
}
@media screen {
  h1.print {
    display: none;
  }
  hr.print {
    display: none;
  }
}
@media print {
  body {
    background: #fff;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
  }
  h1.print {
    display: block;
  }
  hr.print {
    display: block;
  }
  .left-panel {
    display: none;
  }
  .right-panel {
    background: #fff;
    border: none;
    width: 100% !important;
  }
  #navigate, #socializer {
    display: none !important;
  }
}
.hamburger-button {
  background: #f8f8f8;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  height: 40px;
  left: 15px;
  padding: 0;
  position: fixed;
  top: 20px;
  width: 40px;
  z-index: 1001;
}
.hamburger-icon {
  background: #333;
  display: block;
  height: 2px;
  margin: 1px auto 0;
  position: relative;
  transition: background 0.3s ease;
  width: 24px;
}
.hamburger-icon::before, .hamburger-icon::after {
  background: #333;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: transform 0.3s ease;
  width: 100%;
}
.hamburger-icon::before {
  transform: translateY(-8px);
}
.hamburger-icon::after {
  transform: translateY(8px);
}
body.menu-open .hamburger-icon {
  background: transparent;
}
body.menu-open .hamburger-icon::before {
  transform: rotate(45deg);
}
body.menu-open .hamburger-icon::after {
  transform: rotate(-45deg);
}
@media screen and (max-width: 840px) {
  .left-panel {
    width: 215px;
  }
  #menu {
    padding: 10px;
    width: 195px;
  }
  #logo {
    width: 195px;
  }
  #logo img {
    width: 100% !important;
  }
  h1.menu {
    font-size: 18px;
    font-size: 14px;
  }
  #content {
    padding: 20px;
  }
  #socializer {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  .hamburger-button {
    display: block;
  }
  .left-panel {
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 100%;
    z-index: 1000;
  }
  body.menu-open .left-panel {
    transform: translateX(0);
  }
  body.menu-open .right-panel {
    display: none;
  }
  .left-panel {
    padding-left: 120px;
  }
  #menu ul {
    text-align: left;
  }
  #menu {
    width: 225px;
  }
}
@media screen and (min-width: 1100px) {
  .layout-wrapper {
    background: #f5f5f5;
    padding-left: 20px;
    width: calc(1100px - 20px);
  }
  .left-panel {
    border-left: 1px solid #aaa;
  }
  body {
    padding-right: 0;
  }
}
